In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("Advertising.csv")

In [4]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [5]:
X = df.drop("sales",axis = 1)

In [6]:
y = df["sales"]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scalar = StandardScaler()

In [10]:
scalar.fit(X_train)

StandardScaler()

In [11]:
X_train = scalar.transform(X_train)

In [12]:
X_test = scalar.transform(X_test)

In [13]:
from sklearn.linear_model import Ridge

In [14]:
model = Ridge(alpha=100)

In [15]:
model.fit(X_train,y_train)

Ridge(alpha=100)

In [16]:
y_pred = model.predict(X_test)

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
mean_squared_error(y_test,y_pred)

7.341775789034129

In [19]:
model_two = Ridge(alpha=1)

In [20]:
model_two.fit(X_train,y_train)

Ridge(alpha=1)

In [21]:
y_pred_two = model_two.predict(X_test)

In [22]:
mean_squared_error(y_test,y_pred_two)

2.3190215794287514

In [23]:
df = pd.read_csv("Advertising.csv")

In [24]:
X = df.drop("sales",axis = 1)

In [25]:
y = df["sales"]

In [26]:
X_train, X_other, y_train, y_other = train_test_split(X, y, test_size=0.3, random_state=101)

In [27]:
X_eval, X_test, y_eval, y_test = train_test_split(X_other,y_other,test_size=0.5,random_state=101)

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
scalar = StandardScaler()

In [30]:
scalar.fit(X_train)

StandardScaler()

In [31]:
X_train = scalar.transform(X_train)

In [32]:
X_test = scalar.transform(X_test)

In [33]:
X_eval = scalar.transform(X_eval)

In [34]:
from sklearn.linear_model import Ridge

In [35]:
model_one = Ridge(alpha=100)

In [36]:
y_eval_pred = model.predict(X_eval)

In [37]:
from sklearn.metrics import mean_squared_error

In [38]:
mean_squared_error(y_eval,y_eval_pred)

7.320101458823872

In [39]:
model_two = Ridge(alpha=1)

In [40]:
model_two.fit(X_train,y_train)

Ridge(alpha=1)

In [41]:
new_pred_eval = model_two.predict(X_eval)

In [42]:
mean_squared_error(y_eval,new_pred_eval)

2.3837830750569866

In [43]:
df = pd.read_csv("Advertising.csv")

In [44]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [45]:
X = df.drop("sales",axis=1)
y= df["sales"]

In [46]:
 from sklearn.model_selection import train_test_split

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [48]:
from sklearn.preprocessing import StandardScaler

In [49]:
scalar = StandardScaler()

In [50]:
scalar.fit(X_train)

StandardScaler()

In [51]:
X_train = scalar.transform(X_train)

In [52]:
X_test = scalar.transform(X_test)

In [53]:
model = Ridge(alpha=100)

In [54]:
from sklearn.model_selection import cross_val_score

In [55]:
scores = cross_val_score(model,X_train,y_train,scoring="neg_mean_squared_error", cv=5)

In [56]:
scores

array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
        -8.38562723])

In [57]:
abs(scores.mean())

8.215396464543607

In [58]:
model = Ridge(alpha=1)

In [59]:
scores = cross_val_score(model,X_train,y_train,scoring="neg_mean_squared_error", cv=5)

In [60]:
abs(scores.mean())

3.344839296530695

In [61]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [62]:
y_final_test_pred = model.predict(X_test)

In [63]:
mean_squared_error(y_test,y_final_test_pred)

2.3190215794287514

In [64]:
from sklearn.model_selection import cross_validate

In [65]:
model = Ridge(alpha=100)

In [67]:
scores = cross_validate(model,X_train,y_train, scoring=["neg_mean_squared_error", "neg_mean_absolute_error"],cv=10)

In [68]:
scores

{'fit_time': array([0.00360084, 0.00298238, 0.00277972, 0.00199437, 0.0009973 ,
        0.00099635, 0.00099683, 0.00099802, 0.00202656, 0.00099635]),
 'score_time': array([0.00199461, 0.00200486, 0.00099754, 0.00099754, 0.00099683,
        0.00099754, 0.00099659, 0.0009973 , 0.        , 0.        ]),
 'test_neg_mean_squared_error': array([ -6.06067062, -10.62703078,  -3.99342608,  -5.00949402,
         -9.14179955, -13.08625636,  -3.83940454,  -9.05878567,
         -9.05545685,  -5.77888211]),
 'test_neg_mean_absolute_error': array([-1.8102116 , -2.54195751, -1.46959386, -1.86276886, -2.52069737,
        -2.45999491, -1.45197069, -2.37739501, -2.44334397, -1.89979708])}

In [69]:
scores = pd.DataFrame(scores)

In [70]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.003601,0.001995,-6.060671,-1.810212
1,0.002982,0.002005,-10.627031,-2.541958
2,0.002780,0.000998,-3.993426,-1.469594
3,0.001994,0.000998,-5.009494,-1.862769
4,0.000997,0.000997,-9.141800,-2.520697
5,0.000996,0.000998,-13.086256,-2.459995
6,0.000997,0.000997,-3.839405,-1.451971
7,0.000998,0.000997,-9.058786,-2.377395
8,0.002027,0.000000,-9.055457,-2.443344
9,0.000996,0.000000,-5.778882,-1.899797

In [71]:
scores.mean()

fit_time                        0.001837
score_time                      0.000998
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [73]:
model = Ridge(alpha=1)

In [74]:
scores = cross_validate(model,X_train,y_train, scoring=["neg_mean_squared_error", "neg_mean_absolute_error"],cv=10)

In [75]:
scores = pd.DataFrame(scores)

In [76]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.003990,0.002047,-2.962508,-1.457174
1,0.002946,0.001988,-3.057378,-1.555308
2,0.003982,0.002001,-2.173740,-1.238770
3,0.002973,0.001019,-0.833034,-0.768938
4,0.002991,0.001993,-3.464018,-1.434489
5,0.002998,0.001991,-8.232647,-1.494316
6,0.002973,0.002010,-1.905864,-1.081362
7,0.001981,0.002004,-2.765048,-1.250011
8,0.001980,0.002010,-4.989505,-1.580971
9,0.002031,0.000998,-2.846438,-1.223326

In [77]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [78]:
y_final_pred = model.predict(X_test)

In [79]:
mean_squared_error(y_test,y_final_pred)

2.3190215794287514